<article class="course">
  <div class="thumb <%= image %>"></div>
  <div class="meta-row"><span><%= time %></span> | <span><%= level %></span></div>
  <h4 class="course-title"><%= title %></h4>
  <div class="reason">Motivo: <%= reason %></div>
  <a href="#" class="btn">Ir a curso</a>
</article>

